<!DOCTYPE html>
<html>
<head>
  <title>PinFlixApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    window.pinflix = {
      logo: "<%= asset_path('pinflix_logo.gif') %>",
      movie: "<%= asset_path('movie_background.jpg') %>",
      background: "<%= asset_path('page_background_blurred.png') %>",
      pin: "<%= asset_path('pin.jpg') %>"
    }
  </script>
  <%= yield %>
</body>
</html>
